@model IEnumerable<Test.Models.InsuranceСar>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Видалення страхувань</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/List.css" />
</head>


<body>
    <div class="container">
        <h2>Страхування авто</h2>
        <table>
            <tr>
                <th>ПІБ</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Місто</th>
                <th>Марка авто</th>
                <th>Рік випуску</th>

            </tr>
           
                @foreach (var item in Model)
                {
        <tr>
            <td>@item.NSF</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.City</td>
            <td>@item.ModelCar</td>
            <td>@item.CarYear</td>
            <th>
                <form asp-controller="Home" asp-action="RemoveCar" asp-route-id="@item.Id" method="post">
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Видалити" />
                    </div>
                </form>
            </th>
        </tr>
                    }
                
            </table>

       

    </div>
</body>